<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

	<title>Perfil</title>

	<!-- Required meta tags always come first -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">

	<!-- Bootstrap CSS -->

	<link rel="stylesheet" type="text/css" href="Bootstrap/dist/css/bootstrap.css">
    <link  rel="stylesheet" type="text/css" href="Bootstrap/dist/css/facebook.css">
	<link rel="stylesheet" type="text/css" href="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/css/main.min.css">



</head>
<body>


<!-- ... end Top Header-Profile -->
<div class="container">
	<div class="row">

		<div class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
			<div  th:if="${publicaciones}">
				<div th:replace="capas/publicar">
				</div>
				<div th:replace="capas/publicaciones">
				</div>
			</div>
			<div th:if="${publicacion}">
				<div th:replace="capas/publicacion">
				</div>
			</div>
			<div th:if="${album}">
				<div class="ui-block-title text-center">
					<h4 class="title">Imágenes del &Aacute;lbum</h4>
				</div>
				<div th:each="publicacion : ${album.fotos}">
					<div th:replace="capas/publicacion">
					</div>
				</div>
			</div>
		</div>

		<!-- ... end Main Content -->


		<!-- ... end Right Sidebar -->

	</div>
</div>



<!-- JS Scripts -->
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery-3.2.1.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery.appear.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery.mousewheel.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/perfect-scrollbar.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery.matchHeight.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/svgxuse.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/imagesloaded.pkgd.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/Headroom.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/velocity.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/ScrollMagic.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery.waypoints.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery.countTo.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/popper.min.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/material.min.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/bootstrap-select.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/smooth-scroll.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/selectize.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/swiper.jquery.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/moment.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/daterangepicker.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/simplecalendar.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/fullcalendar.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/isotope.pkgd.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/ajax-pagination.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/Chart.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/chartjs-plugin-deferred.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/circle-progress.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/loader.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/run-chart.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery.magnific-popup.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/jquery.gifplayer.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/mediaelement-and-player.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/mediaelement-playlist-plugin.min.js"></script>
<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/sticky-sidebar.js"></script>

<script src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/js/base-init.js"></script>
<script defer src="../../../../../../../Desktop/ISC_415_2doParcial%20copy%202/src/main/resources/templates/fonts/fontawesome-all.js"></script>

<script src="Bootstrap/dist/js/bootstrap.bundle.js"></script>


</body>
</html>
