<div th:fragment="publicaciones" id="newsfeed-items-grid" xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:each="publicacion : ${publicaciones}">
        <div th:if="${publicacion.naturaleza} != 'ALBUM_FOTO'">
        <div class="ui-block">
            <article class="hentry post video">
                <div class="post__author author vcard inline-items">

                    <div class="author-date">
                        <a class="h6 post__author-name fn"   th:href="|/perfil?usuario=${publicacion.usuario.id}|"   th:text="${publicacion.usuario.nombre} + ' ' + ${publicacion.usuario.apellido}"> Marina Valentine </a>
                        <div class="post__date" th:text="${publicacion.fecha}">
                            <time class="published" datetime="2004-07-24T18:18">
                                March 4 at 2:05pm
                            </time>
                        </div>
                    </div>


                </div>


                <div class="control-block-button post-control-button">
                        <a th:id="'me_gusta_' + ${publicacion.id}"  class="btn btn-control"
                           th:classappend="${publicacion.leGusta} ? bg-primary : '' "
                           th:onclick="'javascript:likear(\'' + ${publicacion.id} +'\',\''+${usuario.id}+'\');'">
                            <svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
                        </a>
                </div>
                <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                    <span  th:id="'likes_' + ${publicacion.id}"  th:text="${publicacion.likeCount}"></span>
                </a>
            </article>
        </div>
        </div>
    </div>
</div>

<script>
    function likear(id, usuarioid) {
        var $corazon = $("#me_gusta_" + id);
        var $likes = $("#likes_" + id);
        if($corazon.hasClass("bg-primary")){
            $corazon.removeClass("bg-primary");
            $likes.text( parseInt($likes.text()) - 1);
        }else{
            $corazon.addClass("bg-primary");
            $likes.text(parseInt($likes.text())+ 1);
        }

        $.post("/publicacion/likear?publicacionid=" + id + "&usuarioid=" + usuarioid);
    }
</script>