


<div th:fragment="publicar" class="ui-block" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="news-feed-form">

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane active" id="post_tab" role="tabpanel" aria-expanded="true">
                <form action="/publicacion" method="post"  enctype='multipart/form-data'>
                    <input th:if="${amigo}" type="hidden" name="muro" th:value="${amigo.id}">
                    <input th:unless="${amigo}" type="hidden" name="muro" th:value="${usuario.id}">
                    <div class="author-thumb">
                        <label th:text="${usuario.nombre}"></label>
                    </div>
                    <div class="form-group with-icon label-floating is-empty">
                        <label class="control-label"> Que estas pensando?</label>
                        <textarea class="form-control" placeholder="" name="descripcion" required></textarea>
                        <input type='file' name="foto">
                    </div>
                    <div class="add-options-message">
                        <button type="submit" class="btn btn-primary btn-md-2">Publicar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
