<div th:fragment="publicacion" id="newsfeed-items-grid" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="ui-block">
            <article class="hentry post video">
                <div class="post__author author vcard inline-items">
                    <img th:src="${publicacion.usuario.fotoPerfil}" alt="author" width="40" height="40">
                    <div class="author-date">
                        <a class="h6 post__author-name fn"  th:text="${publicacion.usuario.nombre} + ' ' + ${publicacion.usuario.apellido}"> Marina Valentine </a>
                        <div class="post__date" th:text="${publicacion.fecha}">
                            <time class="published" datetime="2004-07-24T18:18">
                                March 4 at 2:05pm
                            </time>
                        </div>
                    </div>

                    <div th:if="${amigo.id} == ${usuario.id}" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                        <ul class="more-dropdown">
                            <li>
                                <a href="#">Edit Post</a>
                            </li>
                            <li>
                                <a href="#">Delete Post</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div  th:if="${publicacion.naturaleza} == 'PUBLICACION'">
                    <p  th:text="${publicacion.descripcion}">Hey Cindiii, you should really check out this new song by Iron Maid. The next time they come to the city we should totally go!</p>
                </div>

                <div  th:if="${publicacion.naturaleza} == 'UBICACION'">
                    <h6>Ha compartido su ubicación</h6>
                    <div class="post-thumb">
                        <img th:src="${publicacion.img}" height="400" width="400" alt="photo">
                    </div>
                    <p  th:text="${publicacion.descripcion}">Hey Cindiii, you should really check out this new song by Iron Maid. The next time they come to the city we should totally go!</p>
                </div>

                <div  th:if="${publicacion.naturaleza} == 'FOTO'">
                    <h6>Ha publicado una imagen:</h6>
                    <div class="post-thumb">
                        <img th:src="${publicacion.img}" alt="photo">
                    </div>
                    <p  th:text="${publicacion.descripcion}">Hey Cindiii, you should really check out this new song by Iron Maid. The next time they come to the city we should totally go!</p>
                </div>

                <div  th:if="${publicacion.naturaleza} == 'ALBUM'">
                    <h7>Ha publicado el album:</h7>
                    <h6  th:text="${publicacion.descripcion}">Hey Cindiii, you should really check out this new song by Iron Maid. The next time they come to the city we should totally go!</h6>
                    <div class="post-thumb">
                        <img th:src="${publicacion.img}" alt="photo">
                    </div>
                </div>

                <div  th:if="${publicacion.naturaleza} == 'ALBUM_FOTO'">
                     <div class="post-thumb">
                        <img th:src="${publicacion.img}" alt="photo">
                    </div>
                </div>

                <div class="control-block-button post-control-button">
                    <a id="me_gusta"  class="btn btn-control"
                       th:classappend="${publicacion.leGusta} ? bg-primary : '' "
                       th:onclick="'javascript:likear(\'' + ${publicacion.id} +'\',\''+${usuario.id}+'\');'">
                        <svg class="olymp-like-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use></svg>
                    </a>
                </div>


                <div class="ui-block-title">
                    <h6 class="title">Comentarios: </h6>
                </div>

                <a href="#" class="post-add-icon inline-items">
                    <svg class="olymp-heart-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use></svg>
                    <span id="likes_"  th:text="${publicacion.likeCount}"></span>
                </a>


                <!-- Comments -->
                <ul class="comments-list">
                    <li class="comment-item" th:each="comentario : ${comentarios}">
                        <div class="post__author author vcard inline-items">
                            <img th:src="${comentario.autor.fotoPerfil}"  alt="author">

                            <div class="author-date">
                                <a href="#" th:href="|/perfil?usuario=${comentario.autor.id}|" th:text="${comentario.autor.nombre}">James Spiegel</a>
                            </div>

                            <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

                        </div>

                        <p th:text="${comentario.comentario}">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>

                        <a href="#" class="post-add-icon inline-items">
                        </a>
                    </li>
                </ul>

                <!-- ... end Comments -->

                <form class="comment-form inline-items" action="/comentar" style="padding-bottom: 0px;" method="post" >
                    <input type="hidden" name="publicacionid" th:value="${publicacion.id}">
                    <div class="post__author author vcard inline-items">
                        <img  th:src="${usuario.fotoPerfil}" width="40" height="40"   alt="author">
                        <div class="form-group with-icon-right ">
                            <textarea class="form-control" placeholder="Deja tu opinion.." name="comentario" required></textarea>
                        </div>
                    </div>
                    <button class="btn btn-md-2 btn-primary" type="submit">Comentar</button>
                </form>
            </article>
        </div>
</div>

<script>
    function likear(id, usuarioid) {
        var $corazon = $("#me_gusta");
        var $likes = $("#likes_");
        if($corazon.hasClass("bg-primary")){
            $corazon.removeClass("bg-primary");
            $likes.text( parseInt($likes.text()) - 1);
        }else{
            $corazon.addClass("bg-primary");
            $likes.text(parseInt($likes.text())+ 1);
        }

        $.post("/publicacion/likear?publicacionid=" + id + "&usuarioid=" + usuarioid);
    }
</script>